.container-3d {
  height: calc(100vh - 80px);
  margin-top: calc(var(--index) * 4);

  .computer {
    position: absolute;
    height: 100%;
    width: 100vw;
    top: calc(var(--index) * 15);
    left: 0;
    right: 0;
    @media(max-width: 768px) {
      top: calc(var(--index) * 25);
    }
  }
}