
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root {
    --index: calc(1vw + 1vh);
    --background-color: linear-gradient(180deg,
    rgb(195, 196, 199) 0%,
    rgb(196, 195, 203) 10%,
    rgb(199, 192, 210) 20%,
    rgb(203, 191, 222) 30%,
    rgb(207, 197, 241) 40%,
    rgb(206, 212, 246) 50%,
    rgb(209, 233, 250) 60%,
    rgb(207, 209, 245) 70%,
    rgb(205, 215, 228) 80%,
    rgb(204, 197, 187) 90%,
    rgb(196, 195, 201) 100%);
    --text-color: #000000;
    --text-color-hover: #24428a;
    --violet-light: #AC69FF;
    --brand-violet-primary: #6D24C9;
    --loader-background: 0.5;
    --background-color-modal: #e0e0e0;
    --background-color-modal-close: #9898bb;
    --background-color-input: #c8c8d4;
    --shadow-color-inset: #595972;
}

[data-theme="dark"] {
    --index: calc(1vw + 1vh);
    --background-color: linear-gradient(180deg,
    rgb(15, 16, 19) 0%,
    rgb(16, 15, 23) 10%,
    rgb(19, 12, 30) 20%,
    rgb(23, 11, 42) 30%,
    rgb(27, 17, 61) 40%,
    rgb(26, 32, 86) 50%,
    rgb(29, 53, 110) 60%,
    rgb(24, 17, 37) 70%,
    rgb(24, 17, 37) 80%,
    rgb(24, 17, 37) 90%,
    rgb(16, 15, 21) 100%);
    --text-color: #F7F7F7;
    --text-color-hover: #FFA500;
    --violet-light: #AC69FF;
    --brand-violet-primary: #6D24C9;
    --loader-background: 0.1;
    --background-color-modal: #1e1e2a;
    --background-color-modal-close: purple;
    --background-color-input: #10101D;
    --shadow-color-inset: #10101D;
}

/*  font-size: calc(var(--index) * 1); */

body {
    transition: background 1.5s ease-in-out, color 1.5s ease-in-out;
    background: var(--background-color);
    color: var(--text-color);
    font-family: var(--font-jetbrains-mono);
    padding-left: calc(var(--index) * 2);
    padding-right: calc(var(--index) * 2);
}

a, span {
    font-family: var(--font-consolas);
    color: var(--text-color);
    text-decoration: none;
    text-transform: capitalize;

    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0.8px;
}

ul {
    list-style: none;
}

button {
    font-family: var(--font-consolas);
    color: #F7F7F7;
    text-transform: uppercase;
    border: none;
    font-size: 20px;
    font-weight: 700;
    letter-spacing: 0.8px;
    cursor: pointer;
}

.download-pdf {
    margin: 50px 0;
}

.title-block {
    font-family: var(--font-consolas);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;
    letter-spacing: 2.24px;
    text-transform: uppercase;
}


.link-another-platform {
    text-decoration-line: underline;
    cursor: pointer;

    &:hover {
        color: var(--text-color-hover);
        transform: scale(1.05);
        text-shadow: 0 0 10px rgba(255, 165, 0, 0.7);
    }
}