.container-selected-projects {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  min-height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;


  > span {
    align-self: flex-start;
    width: 100%;
    text-align: right;
    font-family: var(--font-consolas);
    font-size: 56px;
    font-style: normal;
    font-weight: 700;
    letter-spacing: 2.24px;
    text-transform: uppercase;
  }

  .wrapper-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-size: 24px;
    font-style: normal;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0.24px;

    .script {
      display: block;
      color: #FBC65E;
      font-family: var(--font-jetbrains-mono);
      font-size: 28px;
      font-style: normal;
      font-weight: 700;
      line-height: 120%;
      text-transform: lowercase;
      margin-top: 45px;
      margin-bottom: 45px;
    }

    @media(max-width: 800px) {
      display: flex;
      flex-direction: column;
    }
  }


  .wrapper-project-list-first-elem-border {
    border-top: 1px solid #7E8696;
  }

  .wrapper-project-list-first-elem-border,
  .wrapper-project-list-first-border {
    border-bottom: 1px solid #7E8696;
    height: 85px;
    display: flex;
    align-items: center;
    margin-left: 50px;
  }

  .wrapper-project-list {
    padding: 0 25px;
    cursor: pointer;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

  }

  .wrapper-select-project {
    margin-left: 5%;
  }

  .enumeration {
    position: absolute;
    margin-top: 20px;
    color: #CDD9AB;
    font-family: var(--font-jetbrains-mono);
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 1.28px;
    text-transform: uppercase;
    padding-right: 20px;
  }

  .continer-resilt {

    > div {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;

      .image-container-mobile,
      .image-container {
        position: relative;
        width: 100%;
        height: 500px;
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
        overflow: hidden;

        .image {
          width: 100%;
          height: 100%;
          padding: 0% 17% 5% 17%;
          margin: auto;
        }

      }

      .image-container-mobile {
        border-radius: 100px;

        .image {
          border-radius: 225px;
          padding: 9% 27% 8% 27%;
        }
      }
    }
  }
}

