.wrapper-experience-list {
  margin: 10px 0;
  background-color: linear-gradient(112deg, rgba(43, 43, 193, 0.12) 17.01%, rgba(15, 15, 103, 0.04) 88.71%);
  width: 100%;
  height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 12px;
  border: 2px solid #A1AAD9;
  cursor: pointer;

  > div {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    font-family: var(--font-consolas);
    font-size: 28px;
    font-style: normal;
    font-weight: 700;
    line-height: 120%;

    .wrapper-title {
      div {
        margin: 10px 0;

        &:last-child {
          font-family: var(--font-jetbrains-mono);
          font-weight: normal;
        }
      }

    }
  }

  .additional-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: start;
    flex-wrap: wrap;

    .wrapper-technologies {
      width: 100%;
      gap: 20px;
      display: flex;
      flex-wrap: wrap;
      margin-top: 30px;

      span {
        display: block;
        border-radius: 12px;
        background: #3F2194;
        padding: 12px 12px;
      }
    }
  }
}

.wrapper-experience-list[data-isOpen="true"] {
  height: 400px;
}